<h1> Rethinking the Office </h1>

<br>- Measure how long People talk to each other
<br>- create models from discussions
<br>- have the company as a model
<br>- writing specs and having programs to conform to them is simply to slow, error prone and creates too much complexity
<br>- you can see how the old media (written notes, accounting) creep into what could be new processes (experimentation and colaboration in models)
<br>- get rid of documents all together
<br>- create sources of proof (chain of trust) as momental representations
<br>- help build oracles (predict how models might look like with certain parameter modifications)
