<h1>Evolving Social Media</h1>

Yesterday twitter annonced this: https://twitter.com/jack/status/1204766078468911106?s=20<br>
<br>

It's really interesting to see how twitter and facebook tackle the issue of evolving social media. It seems to me that facebook tried to enforce more control - through their blockchain Project Libra and twitter now tried to find a way to open up
and decentralize their protocol. If done right this might integrate approaches like mastodon back into the ocean of twitter or seen the other way around this could allow mastodon users to more directly interact with twitter users. <br>
It will be really interesting to see how the details are implemented. If the federation is done "right" and the protocol can work like email that would be an incredible step forward in my opinion. We need Different communities, 
like AKASHA or HummanConnection which implement their own clients. AKASHA published already some ideas in that regard: https://akasha.org/blog/2019/03/04/bridging-networks-with-hyperdata. These implementations bring in their own perspectives from their respective communities. Gathering Requirements, Habits , culture, people in a coherent way is a step forward in making better sense of the world.
I'm really looking forward how things unfold further from hereon. 