On Blockchains - Postcapitalism - in response to: Postcapitalism by Jamie Dobson https://www.youtube.com/watch?v=MGdQnL4-H9M

<h1> An impossible thought?</h1><br>

But what do we want to think? I think many people want the same thing  (see maslov pyramid of needs). But the ever interesting question in the  history of humanity was: How to do that so that there exists an  equilibrium between all humans (society) and the rest of the planet  (nature). Personally I see post-capitalism as a part of a solution for  that, but economy is only one thing that should change. To conceive such a complex balance is not a simple thing. Alan Kay  often talks about how the internet has some biological ideas in it and  yes I think to achieve that balance we need some kind of network  organism where everyone is connected and heard. Even nature.  So lets focus on that, the impossible thought: How can we live together in peace and prosperity with each other and nature? 
Sometimes, somehow this reminds me of the https://en.wikipedia.org/wiki/Kardashev_scale  - our way to type 1, here is Michio Kaku on this https://www.youtube.com/watch?v=7NPC47qMJVg . 

<h2> How to get there </h2><br>

To get there we need to change some things quite a bit. I went in 2016 to JAX  in mainz/germany. There was a blockchain keynote. I was  exited to see such thing on a java conference. But the talk itself was  quite disappointing it was (IMHO) a simple introduction talk delivered  with not so much enthusiasm and potential. In a row behind me there were  some programmers talking after the talk "this bitcoin thing, ... looks  way to risky" :( 
Then I came across jamies talk at scala days and he has a more  convincing style. Of course he does not mention blockchains but it is  about the ideas of post-capitalism, like universal basic income. 
Also earlier I talked about a kind of networked structure that we would need to move fom type 0 to type 1. Jamie mentiones the book postcapitalism (it's good read it!) but also the book zero marginal cost society.In the video a connection between economic prosperity, technology and that earlier mentioned networked structure is formed.
To think an impossible thought one would need new Ideas, new Tools and new Media. 
Since late 2014 I've been watching ethereum. At first I quite didn't  understand a thing. Then I looked a bit in the coursera crypto MOOC and a  bit more in the bitcoin mooc by princeton https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf?a=1 . After reading a lot of things on the ethereum reddit some things became  more clear. Ethereum devcon1 in London fall last year really pushed my  understand on another level. So again, blockchains and ethereum are software and you can do any thing with them. You could use it to think our impossible thought and experiment with post-capitalism for example. 

<h2> From Above - unbalanced , From Below - more balanced </h2><br>

Many people today still think that technology is a seperate thing which impact is more or less indirect on people life or society in the big picture. But I think quite the opposite is happening.  Let's quote Vitalik Buterin from here https://twitter.com/yaoeo/status/809391569702895616:
#blockchain are not just technologies, they are living and breathing social institutions
I think this is important. Blockchains are not simply a technology you adopt or not they can change how society works. Let's look at some possible perspectives on how to use this or any therefore, technology.

<h2> From Above - unbalanced </h2><br>

Lets have a quick look what the big ones are doing with blockchains: apple, google, facebook, microsoft. Besides MS there is almost nothing. They use it at the moment a bit to push their cloud environment. Which is funny because when blockchains really work you don't need a cloud any more. The other three ignore the topic (to the best of my knowledge).  But then I came across this . So google finally had someone give a talk about this https://m.youtube.com/watch?v=sl1U0Mu0qEU . This talk is really interesting, even if it misses many important aspects of the technology and the speaker looks at blockchains solely as a tool for business and not broader society. One thing quite important he mentions: For blockchains really to work you need to act and innovate on three levels:  

1. Technological

2. Business

3. Legal

He says that banks currently only use 1. , of course they want to change as little as possible. This list doesn't even mention society. I would say that there is so little involvement from google, apple, facebook and ms because blockchains as a technology is the total antithesis to what their business and operational model is.
So yes building large centralized coorparations which use network effects to build monopolies is actually a bad thing for society. Jaron Lanier (see: who owns the future here https://gist.github.com/AndreasS2501/afcd8c568c8b574293e8ae7dd2523f78 ) has a specific (made-up) term for what to call the big one: siren  serves. They centralize and grow through network effects.
If you look at  google and how it works you can see that decentralization would be a  catastrophe to their business model. Would something like IPFS - ipfs.io  be deployed on a large scale you would not need "search engines" as  they exist today.  You could even implement micro payments for content and meta descriptions as jaraon lanier describes them  (with reference to ted  nelson). So yes you actually could build a web 3.0 with IPFS and other blockchains like ethereum. This by itself might be a big thought but let's move even further. 
It seems possible that one could for example create a hyper efficient M2M economy where many of today's jobs would not exist, but the benefits of this efficencies would be concentrated in the hands of the few. In the hands of a very few people. I hope you can now see why then there is so little value for society in their attempts.

<h2> From below - more balanced - How to do it for real </h2><br>

But there are also people want also build things and stuff but not for maximal profit in their ads but they can see that in a sense to make themselves happy, they try to increase prosperity for everyone. To reduce inequality (as jame said  in his keynote) to improve society. So if we want to make it to Type 1  civilization and we want to use the from below approach, we could use  blockchains as a tool to think about post-capitalism.
Last year I came across a talk called foundations of a programmable society https://www.youtube.com/watch?v=9d3bp33AJFk . I was very exited about it and tried to share it with many of my  twitter fellows but the reception was underwhelming. The blending of  blockchain/P2P Technology with legal innovations is an absolutely fascinating thought.

So how do we the people, the society then do it? Do we simply install a  blockchain on all our private devices and that's just it? Well certainly not, it will be a lot of hard work, and it is still mostly about how people want to live. Let's remember that nice vision of an equilibirum between ourselves and nature from the beginning of this post.

Evgeny Morozov is someone who is talking quite a bit against how  technologism and silicon valley are NOT helping to improve society and yet he participated in a blockchain workshop to rebuild and re-imagine democracy here https://twitter.com/evgenymorozov/status/704706374505074688 . Legal, Business and Social innovations are in my opinion the key principles of blockchains/P2P Technology. Decentralized, uncensored discussion platforms which are not created by the drive to create ad revenue. 
THESE are the tools which become the media to think our impossible thought. Blockchain Technology is a social tool. 

How to build a decentralized infrastructure, how to re-structure our health, education and economic system. We have to reflect more on the values that our society is built upon and I think to a certain degree tecnology can help here.
You can see in the QA section of the Google blockchain talk that people where concerned about the ethereum DAO hack. But the presenter gave a good answer: Yes there will be drawbacks and failures. But you can only learn from failure, if you actually try and do something.

The amount of money put in the DAO can be also seen twofold IMO. On  the one hand people who just want quick, very quick revenue. Or on the  other hand people who want to experiment with distributed consensus to  create distributed infrastructure in the real world for example. One interesting economic model which could serve as an alternative to the current one is: the circular economy. This talk by Dame Ellen MacArthur gives a good introduction https://www.youtube.com/watch?v=ooIxHVXgLbc . I was very exited and thought that it was not so much an coincidence to see circular economy and ethereum team up.

https://www.provenance.org/news/us/featured-ellen-macarthur-foundation-report/
http://www.ellenmacarthurfoundation.org/assets/downloads/publications/EllenMacArthurFoundation_Intelligent_Assets_080216-AUDIO-E.pdf
https://www.provenance.org/news/ - Open Data Systems for the Circular Economy


This is how the blockchain technology can provide value to society: as a  plattform which enables us to experiment with political and economical alternatives in a save way.  

<h2> Where will we go? </h2><br>

I'm very exited to see now more and more fellow programmers recognizing the problems of our current economic system. And maybe realizing that we as programmers, again, have some kind of special position we are in. Where we work, which open source projects we contribute to, it matters. A lot. We can build a more just society, a  better world. Let's do it :)  
