<h1>Thoughts on - liminal web3- and the LiminalDAO </h1>

<br><br>
Hi Jared, in this piece I will try to express some thoughts about your session "Liminal Web3" on the stoa: <br>
https://www.youtube.com/watch?v=JfoHPq19Oog

And also on your Proposal about the LiminalDAO: https://docs.google.com/document/d/1ZMJTIt2i__nnb20wkb2UWOD9xzmH0i1_eZqQFhnP2kU/edit#
<br><br>

<b>Watching carefully</b><br><br>

When watching your presentation I noticed the intro slide which when like this:  thinkers (Liminal web) -> Doers (web 3.0). I don't think that you think there is "no doing" in the liminal web, maybe so that there is more action in web 3. For me the liminal web is indeed about finding a balance between practice _and_ thinking! So a better fitting description could be:
liminal web : trying to find balance in wisdom and web3: tryting to find balance with technology - money.<br> And then we could ask: How to bring those two in relation. How could this relation look like?
<br><br>
<b>Listen Carefully</b><br><br>

I'm going pick here two comments from the Q&A in the stoa session to illustrate some points. <br><br>

Aiden Neil said:<br>
"with daos and i find that um one of the most difficult things is that when you get into it it's not actually uh doesn't end up being actually
decentralized a lot of it ends up being very top-down controlled anyway and the biggest voices uh have the biggest uh so i'm really curious about sort of like voting structures and things like that"
<br><br>
When I try to interpret that, I read that Aiden is kind of confused or not happy about DAO's not beeing decentralized. Where I can only intepret again, he is not so much refering to the technology, since the DAO would run on a blockchain like ethereum and thus would be decentralized. So what else could he mean by that?<br>
I think he has some expectations towards the word "decentralization" and the human interaction between DAO members. Probably most specific related to voting.
<br><br>
<b>Abilities of a DAO</b><br><br>

To share some further perspectives on DAOs in the blockchain space I want to share this great piece by kei kreutler: https://twitter.com/keikreutler/status/1417861127590092802 while some people may think: <br><br>

<i>A DAO is a vehicle to fundraise and then vote on the funds to be applied</i> <br>
<br><br>
Other people think differently:<br><br>

<i>
"DAOs are not products, they are frameworks for decision making about products/projects if your DAO is successful you shouldn't even know it's there, it'll just be a well-functioning community"</i><br> https://twitter.com/evabeylin/status/1396184123761303554<br><br>

So this is interesting, this tweet/perspective emphasize much more the community aspect. And as far as I remember that is also what is Kei hinting at in her DAO prehistory. Sure funds of the DAO are important but eventually it is about how the people relate to each other in governing these funds. The experience of governing a precious resource together with other people. I think it is this experience that is important to people in the DAO and thus what Aiden was pointing towards.<br><br>

Notice if we consider a feedback loop of : people, money and the results of that money applied in a society ( group larger then the people who did apply the money) We dit not yet look at how the application of that money relates to the people appling it. <br><br>

How would it be possible to measure or to determine if LiminalDAO does better than other DAOs? Are there projects who are trying to engage with people in a humane way? Or do most projects see people only as token holders? How can we increase the quality of relationships here? Can digital technology help here or is it in the way?<br><br>

Reid Gower said: <br>
"so i'm really curious about how you kind of envision this looking like we can talk about like what the benefits are and stuff like that but if i were to explain to my mom okay so like my mom knows what amazon looks like and she knows what facebook looks like and she knows how to interact with those interfaces i'm curious about how you envision web 3 changing how we interact with things how how it would look to my mom in a way that i could explain to her now"<br><br>

I think I would try to answer Reid like this: in amazon and facebook a huge part of the user experience is determined by the algorithms that are used. These algorithms decide what you see on those pages and thus influence the users behaviour. You can't buy what you can not see, you can not join discussion which are not shown to you because their engagement metrics are too low.<br><br>

Algorithm transparency and other technical issues can help. So web3 promises a lot of things, remember its a projection space of hopes, dreams and fears from people using it. But it should also increase the quality of relationships. So maybe an example could be that his mom learns to develop a different sense of sovereignty. The experience of governing precious resources in a small group context may lead to community gardens governing themselves. Or organizing other aspects of life together in a town. Realizing your personal agency in a new context is a powerful experience and can lead to more resilience. It will be interesting to see the different dynamics here applying. How much do people need the digital once they know a certain set of real world collaborators. <br><br>

An interesting place in the web3 space is the kernel0x community http://kernel.community/en/ . The last blocks I had the opportunity to participate in where an interesting experience. The gnosis zodiac guild are building DAO tooling. From a technical perspective I think they come very close to the following properties: DAO with cheap voting L2 , funds on L1. In a session about their tooling there was a interesting Q & A with the following two questions:<br><br>
Q1: How can I know I can trust a DAO?<br><br>
Q2: How can I build a DAO that others can trust?<br><br>

Obviously both question hint towards the question: how can we build and find trust in the digital space?<br>
I think this is something where practices from the sensemaking/liminal web space can really help. I'm still uncertain if that's a method that can scale or is even measureable. But it feels like worth investigating. <br><br>

<b>Applications of the liminal/sensemaking</b><br><br>

In Joe Lightfoots original "Liminal web" post ([The Liminal Web: Mapping An Emergent Subculture Of Sensemakers, Meta-Theorists & Systems Poets](https://www.joelightfoot.org/post/the-liminal-web-mapping-an-emergent-subculture-of-sensemakers-meta-theorists-systems-poets) he had an interesting reference, this article from less wrong: https://www.lesswrong.com/posts/vKDAXqyab5KRApfvE/the-sense-making-web
which the following paragraph:<br><br>
"Some of the main practices involved in sense-making include mindfulness (which provides an awareness of thoughts and emotions and how they relate), circling (which brings mindfulness into a social context), acceptance (which involves facing the truth without fear) and shadow-work (which involves engaging with our darker emotions and desires to find out if they have anything to tell us)."
<br><br>
Maybe I can see your proposal as a inquiry : what is the relationship between the liminal web (wisdom) and web3(technology). People have been using money as a coordination technology for a long time. But digital and blockchain technology have created another realm of possible interactions.  But they remain very restricted to computer output/input. It is mainly text, on a screen , video calls with audio. There are people who think the whole of the human experience should move into the realm of the digital, that would be the narrative of the metaverse. 
<br><br>
I do think that a balance between the real world and the digital is crucial. In that context it could be really interesting to see the LiminalDAO as a kind of place where the liminal communites try to bring in some kind of practices to the usual digital tool setup of social media, chat, wallets. A relentless focus on how does the human experience look like. How to thoughtfully integrate practices like meditation, circling, dialogos, shadow-work and others. 
<br><br>
Exploring relationships like: How do I feel as a member of a DAO which gives to other people? How would people who are not members of a liminal community feel if they could give money to the LiminalDAO. Would they feel good? Would they get a NFT such that other people could see - oh he has contributed to LiminalDAO - would this invoke envy on people who could not afford to do so? Can this create negative FOMO behavior spirals?
<br><br>

<b>Gas Costs - Technical Details that don't matter</b>
<br><br>
I think this point illustrates for me a broader theme which I felt uncomfortably with while listening to your presentation. I think it is related to terms like Financialization and money.<br>
As far as I understand I see your goals aligned in the direction of increasing the quality of relationships between people, starting with people from the liminal web. <br>
I think it is important when we think about inclusion that costs do actually matter. Or phrased differently: How can a participation look like if one can not pay gas costs?<br><br>

Of course blockchains are bound to their technical substrate and ethereum is more expensive because it can not advance faster because it already is so mature. Other platforms have , as you mentioned lower gas fees, but I think the gas fees are actually related to a kind of signal : I am doing a transaction and it is worth it. 
<br>

So what do we want to do? Create a lot of transactions on a blockchain? How does this help us to increase the quality of our relationships?
<br>
In context of the LiminalDAO should we have careful checks and balances on how much money is enough? Is there a balance or a relation to the concept of "enough" or degrowth?
<br><br>

<b>Resilience and Change</b><br><br>

In the deep thought section there is the following phrase to be found: "A counterbalance to nation state failures"(referring to the LiminalDAO)
I want to share the following two short stories here: Once I interacted with Joe Armstrong the creator of Erlang. And there was a discussion about the state and how things could be improved. Joe was ultimately arguing to change the state for the better as a part of it. It is a fundamental distinction to perceive the state as something unnaturally imposed onto the human being. Which it is, but if one would simply remove that, it would also remove most(all?) of what people percieve as civilization. I'm beginning to realize that this is difficult to explain, but there is the second story.<br><br>

The second story is from Jaron Lanier and I will quote the following from his interview with lex fridmann:<br><br>
"well i mean what i want to ask you to do is to replace the word government with politics like our politics is people having to deal with each other my theory about freedom is that the only authentic form of freedom is perpetual annoyance that all right so annoyance means you're actually dealing with people because people are annoying perpetual means that that annoyance is survivable so it doesn't destroy us all so if you have perpetual annoyance then you have freedom ... that's politics if you don't have perpetual annoyance something's gone very wrong and you suppress those people it's only temporary it's going to come back and be horrible you should seek perpetual annoyance i'll invite you to a berkeley city council meeting so you can know what that feels like "
<br><br>
https://youtu.be/Fx0G6DHMfXM?t=3969

<br><br>
I really hope Jared that his is in anyway helpful for you. Feel free to reach out to me over twitter(same nick as on discord) or otherwise.
