<b>The original <strike>Ethereum</strike> - Blockchain Idea</b><br>
<br>
Imagine there was a Blockchain Project which had the steadiness of Vitalik Buterins Ethereum, the Engineering effort of Gavin Woods Polkadot and the Research Rigor(Functional Programming) 
of Charles Hoskinson. Obviously such a Project doesn't exist. Or did ever exist, or did it? <br>
<br>
https://letmegooglethat.com/?q=ethereum+founding+members+photo
<br><br>

<b>The cost of forks - distraction</b><br>
One thing the Blockchain - Space is kind of obsessed with is scalability. But what does that even mean? One could argue that from a technical and enterprise perspective the separation of 
Vitalik, Gavin and Charles was a success. Each project is thriving and producing valuable input to the space. Right? Although I do think that resilience through diverse experiments is actually
a valuable thing, I'm uncertain if that’s enough.<br>
<br>
The one thing that doesn't scale is human attention. If the world, and by that I mean the humans living in the world, tries to find more peaceful ways of living together, how does the blockchain
idea help with this? Marshall McLuhan warned us about that the global village won't be a nice place per default. So do we need "global" scalability. Or do we need understanding?<br>
<br>
<b>Individual or Community</b><br>
Technology always impacts culture. What is the impact of blockchain technology regarding attention? What is the impact of blockchain technology on individual people? How did it improve their
quality of live? How did it help them to meditate about their relationships with freedom and community?<br>
<br>
<b>Solving the Problem or solving our Problems?</b><br>
Answering the question above is not a pleasant endeavour. Was it impossible for Vitalik, Gavin and Charles to find a common place? A Community? I think there are many sad stories in the
blockchain space and by that I mean personal sad stories. Maybe these stories aren't as sad as stories from our ancestors trying to get along.
One fundamental problem I perceive is the way people communicate. Being part, at least to some degree, I think there are ways to improve our communication.
Better ways to listen and to talk. Focusing on the scarcity of our human attention, accepting the uniqueness of every human being but also acknowledging our common desire for community.<br>
<br>
I hope that the blockchain space will search and find methods beyond the digital to afford more human ways of living together.

