<b>Privacy and Transparency in blockchain/crypto/web3 and Existentialism</b>
<br><br>
I recently had a great conversation with a friend and this thing came up. He asked if I had written something down about it, and I didn't have that so thats what I'm doing here now.
There are many possible perspectives or frames to look at technologies like blockchain/crypto/web3. Lets introduce another one. 
<br><br>
If you enter the cultural space of web3 you might notice that there exist very strong opinions on these two subjects: privacy and transparency. And I think this is no coincidence, I actually believe that these are pointing to a common issue. The existential issue. The existential pattern and burden which every human being carries around with themselves[1] :<br>
 How much of myself should I reveal to the world?<br>
 How far do I push myself into the world?<br>
 How much do I need to protect myself from the world?<br>
 To which degree am I connected to the world? How much am I alone?<br>
<br>
 Technology like blockchain or the web3 space now extent this question from the individual to the cultural and eventually systemic level , it gives people - us a medium to explore these issues through technology. I see this as a nice reminder that our technologies always are expressions of ourselves, even if we don't see that all the time. Another beautiful example how people did this in the past is in my opinion the stones of rai example[2]. 
 <br>
<br><br>
[1] The psychological projection of the individual towards its enclosing culture/group of people, things like  https://de.wikipedia.org/wiki/Grundformen_der_Angst and other patterns/models from psychology(archetypes) feel relevant here too <br>
[2] https://en.wikipedia.org/wiki/Rai_stones





