<!-- originaly written on the kernel slack -->
<b>An attempt to answer: why is web3/crypto/blockchain useful or meaningful?</b><br>
<br>


This is quite the question! For me your question is strongly related to the more abstract concept of Technology. Yuval Noah Harari has an interesting Framing in his Book Sapiens: He uses the Term "Imagined Orders" as Concepts which we humans use to structure and organize our lives together.<br>
He defines 3 essential imagined Orders that are related to the unification of mankind:<br><br>

<ul>
    <li>"The first universal order to appear was economic: the monetary order. </li>
    <li>The second universal order was political: the imperial order.</li>
    <li> The third universal order was religious: the order of universal religions such as Buddhism, Christianity and Islam."</li>
</ul>
<br>
So finally attempting to answer the question: I see web3 as an attempt to rethink the imaginary Order of Money. Harari has some nice examples in his book that in the past when people would try tamper with money it was a severe crime and in the same category as majesty insulting.<br>
So Web3 and Crypto dissolves the monopoly of how money is structured (Kings, nation states) and basically offers anyone interested to participate. I think this brings interested people definitely closer together.<br>
On a more broader closing note, we are at an interesting point in history, never was there so much (propositional) knowledge available. Most of history "just" happened (Harari used the Term - History is not just). Through this immense knowledge and other technologies we now are in the position to develop more mature  relationships, with ourselves, other people and with the technologies we develop. And thus I will end with the ending words of the Sapiens book:<br>
"The only thing we can try to do is to influence the direction scientists are taking. But since we might soon be able to engineer our desires too, the real question facing us is not ‘What do we want to become?’, but ‘What do we want to want?’ Those who are not spooked by this question probably haven’t given it enough thought" <br><br>
I really hope that doesn't sound too gloomy, because I do thing that the decentralization of web3 is bringing important aspects into the process of better understanding "what do we want to want".
