One Problem that I see with wikipedia as it exists today is that people too easily conflate wikipedia with the concept of "truth".
If you look close wikipedia actually tries to avoid it by providing sources over controversial statements but the problem of authorship authority remains.
<br>
Let me try to explain why this claim or association with truth is problematic. When people come to wikipedia and have a positive experience with lets say, physics,chemistry or anything related to measurable facts, it is the most natural process for most people to extend this _trust_ of wikipedia from the measurable facts domain to the political or social domain. 
<br>
I would even argue that this problem is even known to most/all people in the wikipedia, which is why a separate project called wikidata was initiated.
Wikidata acts like a fact database with possibly multiple source for each fact. Its now used more and more as a kind of backend database for all the different language installations of wikipedia. Previously each language wikipedia maintained its own facts database in full text for itself. If you think about it you can see how in-effective this process is. With wikidata you have a language agnostic facts database which can be used from all wikipedias.
<br>
I want to discuss two more problems: the media - representation problem and the authority problem.
<br>
The wikipedia project perceives itself as a ecyclopedia. In reality it means that the representation of the content of wikipedia is strongly if not totally limited by its software media wiki. Now wikis have some wonderful properties, for example they enable or even encourage a collaborative workflow.
But regarding the capabilities of a modern computers even smartphone the representation of wikipedia is rather pale. Many people, school and university projects
for example have attempted to create interactive models or even curricula for algorithms or physical phenomena. But since these interactions break the boundary
of the mediawiki software these contributions are rejected from wikipedia. I could go on into some technical details about SVG and how it took years to get even
basic support for that but I don't want to sidestep too much into this.
<br>
These are technical issues. but if wikipedia considers itself the worlds dominant knowledge representation, should't then there be at least an open discussion or dialog be happening with the open source community about different front ends for wikipedia?
<br>
Regarding the authority problem I can only speak for the german wikipedia. There is a complicated relationship between editors/admins and their content regarding on what do they accept as "relevant". Also if new editors want to join a certain space they have to be acknowledged by someone already in there. So how likely would it be that someone ackowledges someone else into a content domain when he has the opposite opinion in the content domain?
To really dive into the specifics on how "truth" bubbles up on social wikipedia topics would require much more detail, these two documentaries (although in german) give some starting points:
<br>
The dark side of wikipedia: https://www.youtube.com/watch?v=7_NT4no5nHc
<br>
Censorship - the organised manipulation of wikipedia and other medias: https://youtu.be/HH-Ym-an2xw
<br>
Also german wikipedia authors write under pseudo names and if they make statements about people which would be problematic its not easy for
the people in focus to get a legal handle or interaction with them.
<br>
Wikipedia could be a great place a multitude of local community spaces. But instead its a maze of rules buried deep in old software which does not want
to change. The world isn't simple but to move forward I think it is important to hear many different perspectives and try to engage openly towards the possibility of change.


