<b>Inquiry on the Individual Decentralization Problem</b>
<br><br>

Social Media is a fascinating thing to see evolve. One thing that it has created is the phenomena of an "influencer". These people gather rather large groups of "followers".<br>
I feel the need to write extensively about the strange kind of human relationship that these two terms describe, I put it aside. <br><br>

Lets consider for a moment, and I think I have noticed this pattern a couple of times, there exist a influencer a person who wants to do genuinely good in the world. <br>
The fame grows until it attracts such diverse people that it will eventually break the identity/relationship between the influencer and the followers. So Who is shaping the Identity of the influence?<br>
That person on itself? Only the projections of the followers?<br>

Back to the pattern, what if the influencer person started noticing these things, that other people make them an avatar of whatever their projection is. <br>
How to resolve the situation? Can the gathered attention relationship be further used in a meaningful way? <br><br>

Of course the person can always try to go back from the gathered attention, but what other ways are possible?<br>
Can the influencer decentralize his avatar and thus feel relieved when there are personal-avatar attacks or other misappropriating conflicts? <br>Can the influencer-avatar be decentralized through a DAO? What do you think?
