<h1>Thinking loud about the metaverse</h1>

<b>How can the metaverse support Indigenous Cultural and Intellectual Property, sovereign rights and custodianship?</b>
<br><br>

A computer can display any picture on a screen and any sound on a speaker. So it could show you a picture of a campfire and you could here it. But is it the same as setting at the campfire?<br>
Somehow I do not like very much the term metaverse because I think the concept has a name which has it backwards.<br>
Too many metaverse concepts out there eventually assume humans a sitting in front of computers, that is isolated in physical nature.<br>
How much time will the metaverse take away from people to interact with each other in the real world? The real campfire?<br>
I do think that indigenous representation in the digital space is important because there are so many patterns inside these cultures that can help us getting forward in better ways.<br>
But we have to be very careful to not create more time traps more diversions. <br><br>

I remember that Tyson yunkaporta put great emphasis on context (with regards to technology and relationships) <br>
So instead of endlessly piling up more and more abstract shiny distractions. How could technology or the metaverse help to have humans better connections? Better connections not just to their slack(whatever) contact list but to other human beings, sitting at the campfire. <br> Better relationships to animals? Taking a walk with your neighbours dog? Could you get appreciation for the animals around to it living space through the metaverse? <br>
How much technology do you need to leave your computer behind , go outside and be with animals and plants. Just be.<br>


I do think that we can use technology to help coordinate a bit with the problems we have, but we really should be at least be thinking as hard about how NOT to increase the time in-front of the computer.<br>
Can the metaversedo that? Help us spend <i>less</i> time with computers and more with humans, animals and plants ?<br>
That’s the metaverse(and web3/ technology) - in general I’m looking for :)
